name: Release

on:
  release:
    types: [published]

jobs:
  build-and-upload:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure
        run: cmake -B build -DCMAKE_BUILD_TYPE=Release -A x64

      - name: Build
        run: cmake --build build --config Release

      - name: Upload to Release
        run: gh release upload ${{ github.event.release.tag_name }} build/Release/ply2gltf.exe
        